/* Common to all */


body 
{
	background-color: #f4f4f4;
}
footer
{
	height: 30px;
	overflow-y: hidden;
	/* Issue resolved here where the footer caused the entire page to have two scroll bars */
}

footer a
{
	text-decoration: none;
	color: #fff;
}

footer a:hover
{
	text-decoration: underline;
	color: #fff;
}

.link-button
{
	color: #fff;
}