
.custom-event-div 
	{
		/* from bettermotherfuckingwebsite.com. Seven lines of CSS to make things look decent */
		margin: 40px auto;
		max-width: 900px;
		width: auto;
		line-height: 1.6;
		font-size: 22px;
		color: #444;
		padding: 0 10px;
	}

	.custom-event-div h1
	{
		text-align: center;
	}
	
	/* For event page */
	.mdl-card
	{
		width: auto; 
		max-width: 86%; 
		margin: 10px auto;
	}
	
	/* Event page registration button */
	#register-button
	{
		position: fixed;
		display: block;
		right: 0;
		bottom: 0;
		margin-right: 40px;
		margin-bottom: 40px;
		z-index: 900;
	}

	/* Recommend you do this for the main page as well */
	.link-button
	{
		color: #fff;
	}
	
	.mdl-layout__drawer
	{
		background-color: #fff;
	}
	
	/* Individual logos for each event */
	.custom-title
	{
		height: 400px;
		width: auto;
	}
	
	#cs-event-title
	{
		background: url('../images/card-website-cs.png') center no-repeat;	
		background-size: 38% auto;
	}
	#fifa-event-title
	{
		background: url('../images/card-website-th.png') center no-repeat;	
		background-size: 38% auto;		
	}
	#th-event-title
	{
		background: url('../images/card-website-th.png') center no-repeat;	
		background-size: 38% auto;
	}
	
	#rr-event-title
	{
		background: url('../images/card-website-rr.png') center no-repeat;		
		background-size: 38% auto;
	}
	
	#ag-event-title
	{
		background: url('../images/card-website-ag.png') center no-repeat;		
		background-size: 38% auto;
	}
	
	#sl-event-title
	{
		background: url('../images/card-website-sl.png') center no-repeat;		
		background-size: 38% auto;
	}